<h1>New Answer</h1>

<form action="/create_answer">
  <div>
    <label for="caption">caption</label><br />
    <input id="caption" name="caption" type="text" />
  </div>
  <div>
    <label for="question_id">question_id</label><br />
    <input id="question_id" name="question_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

