<div class="page-header"> <img src="http://i.imgur.com/jTff99E.png"> </div>
<aside>
  <p>The rules are as follows.</p>
  <br>
  <p>1. Be kind and courteous. We are all people living in this wonderful world. </p>
  <br>
  <p>2. Try not to spam anything however important it may be. We only need to see it once. </p>
  <br>
  <p>3. Don't answer questions you don't 100% know the answer to.</p>
  <br>
</aside>

  <a href="/new_question"> Make a new question.</a>
  <br>
  <a href="/questions">Browse existing questions.</a>
  










